<footer>
  <div class="content">
    <hr>
    <p class="">
      Voilà, c'est la fin ...<br/>
      Je n'ai pas grand chose à dire ici
      mis à part que je suis heureux d'avoir
      pu mettre en forme ce site
    </p>
    <p>
      De toutes façons,<br/>
       personne ne lit les footers.<br/>
      Vous pouvez remonter en
      <a href="#top">haut de page</a>
    </p>
    <p>
    </p>
  </div>
</footer>
<footer>
</footer>
