
/* HOME ------- */

section.img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
}
section.img.fixedBck {
  background-attachment: fixed;
}
section.img.desk {
  background-image:
    url(
      '../images/photos/desk.jpg'
    );
}
section.img.cherryTree {
  background-image:
    url(
      '../images/photos/amelie/cherryTree.jpg'
    );
}
section.img.squaresOnWall {
  background-image:
    url(
      '../images/photos/amelie/squaresOnWall.jpg'
    );
}
section.img.grapesOnWall {
  background-image:
    url(
      '../images/photos/amelie/grapesOnWall.jpg'
    );
}
