<section id="top" class="coloured yellow">
  <article class="textRight">

    <h1>About</h1>

    <p>
      Ce site internet est une page personnelle,
      pour présenter mes compétences en programmation.<br/>
    </p>

    <p><em>
      Retrouvez le
      <a
      class="external"
      href="https://github.com/gui3/gui3.website">code source</a>
      en libre accès sur
      <a
      href="/definitions#github">Github</a>
      ou descendez voir les
      <a href="#technics">détails techniques</a>
    </em></p>

  </article>
</section>

<section id="quiSuisJe">
  <article class="white">

    <h1>Qui suis je ?</h1>
    <p>quelqu'un qui fait son chemin !</p>
    <p>
      j'ai en effet un parcours ... atypique,<br/>
      d'abord technicien forestier,
      j'ai géré le cycle des forêts pendant près de 5 ans,
      puis ma maîtrise de la cartographie m'a permis de travailler
      dans les bureaux, d'abord chez EDF puis en fibre optique.
      Et c'est au cours de mes différents emplois que j'ai d'abord dû,
      puis pu m'intéresser à la programmation.
    </p>
  </article>
  <article class=" white textRight">
    <h3>Mon parcours de programmeur</h3>
    <p>
      J'ai appris a coder en
      <a href="/definitions#python">python</a>,
      poussé par un responsable qui me disait
      "tu verras, t'es fait pour ça".
      Il n'avait pas tort.<br/>
      Je suis rapidement devenu capable de faire des
      <a href="/skills#programs">petits programmes</a>
      de tri de feuilles Excel,
      de traitements spatiaux (dans Qgis, des plugins également)
      et de gestion simple de bases de données (Oracle et sqlite).
    </p>
    <p>
      Je me suis ensuite tourné vers HTML et le javascript,
      en suivant les cours que je pouvais sur le net,
      mais sans aboutir à grand chose
    </p>
    <p>
      L'étape suivante, c'est la formation
      <a href="/definitions#thp">The Hacking Project</a>
      qui m'a initié au langage Ruby et m'a surtout appris à :
    </p>
      <ul>
        <li>gérer correctement mes commits git</li>
        <li>organiser mes projets en suivant des frameworks</li>
        <li>essayer la TDD et l'écriture de tests en général</li>
      </ul>
    <p><em>
      Malheureusement mon groupe n'a pas pu rendre le projet final,
      je n'ai donc pas de magnifique site marchand codé en ruby à vous montrer.
    </em></p>
    <p>
      Enfin, je suis retourné plus fort que jamais au javascript,
      et je suis tombé amoureux de <a href="#">Node.js</a>.
      Depuis, en amateur, j'ai pu me faire la main sur un
      <a href="/definitions#discordjs">bot discord</a>,
      un début d'
      <a href="/definitions#electron">application Electron</a>
      et ce site web qui est mon premier essai serieux.
    </p>

  </article>
</section>

<section class="coloured green">
  <article id="technics" class="">

    <h2>Détails techniques</h2>

    <p>
      Ce site utilise ces technologies :<br>
    </p>
    <p class="description">
      <a class="title" href="/definitions#node">Node.js</a>
    </p>
    <p class="description">
      <a class="title" href="/definitions#heroku">Hébergement sur Heroku</a>
    </p>


  </article>
</section>
