<section class="white">
  <article class="">
    <h1>Contact</h1>

    <p>
      Quelle que soit votre demande,
      je reste à disposition pour tout contact<br/>
      <a href="mailto:guillaume@hotmail.fr?subject=feedback-">
        guillaume.silvent@hotmail.fr
      </a>
    </p>
  </article>
</section>
<section class="white">
  <article class="">
    <p>Vous pouvez aussi me laisser un message sur le (futur) chat :</p>
  </article>

</section>
