<section class="coloured green">
  <article class="">
    <h1>Definitions</h1>

    <p>
      Si vous venez sur mon site,
      je me doute que vous connaissez ces concepts techniques,
      vous trouverez ici plutot ma vision de chaque concepts
      et mon rapport à elle !
    </p>
    <p>
      Cette page se divise en deux chapitres :<br/>
      <ul>
        <li>
          <a href="#codeTechnics">les concepts de programmation</a>
        </li>
        <li>
          <a href="#otherDefs">les autres concepts (musique principalement)</a>
        </li>
      </ul>
    </p>
  </article>
</section>
<section class="white">
  <article id="codeTechnics">
    <h1>Programmation</h1>
  </article>
</section>
