
<section id="top" class="img fixedBck desk">
  <article class="white textCenter">
    <h1>Bien le bonjour !</h1>
  </article>

  <!--img
  src="images/photos/desk.jpg"
  alt="desk.jpg"
  class="left blurred white"-->

  <article class="white margin left">

    <h2>... et bienvenue chez moi</h2>

    <p>
      Vous êtes sur la
      <strong>
        page personnelle de
        <a href="/about#quiSuisJe">Guillaume Silvent</a>
      </strong>,<br/>
      programmeur hobbyiste ...<br/>
      ... et musicien a ses heures perdues
    </p>

  </article>
</section>

<section class="coloured green">
  <article class="textCenter">

    <h3>
      Vous avez envie de
      <a href="/hire">me recruter</a> ?,<br/>
      créer un
      <a href="/skills#websites">site web</a> ?,<br/>
      développer un
      <a href="/skills#programs">petit logiciel</a> ?
    </h3>
    <h2>
      n'hésitez pas à
      <a href="/contact"> me contacter</a> !
    </h2>
  </article>
</section>

<section id="minigames" class="white">
  <article class="">
    <h2>Exemples et Mini-jeux</h2>
    <p>
      Voilà quelques exemples de ce que je peux faire avec du javascript
    </p>
  </article>
  <div class="flexRow">
    <article id="tictactoe" class="flexCol">
      <h3>Un petit morpion ?</h3>
      <blockquote>
        Essayez de battre mon <strong>IA</strong> <br/>
        Attention ! elle est coriace ! <br/>
        <a href="/tictactoe">-> Plus d'informations</a>
      </blockquote>

      <% include ../components/examples/tictactoe.html %>

    </article>
  </div>
</section>
