<section class="coloured green">
  <article class="">
    <h1>Compétences</h1>

    <p>
      Voilà les concepts, programmes, langages et librairies
      que j'utilise, et comment je m'en sers.
    </p>
  </article>
</section>
<section class="white">
  <article id="codeTechnics">
    <h1>Programmation</h1>

    <h3 id="node" class="title">Node.js</h3>
    <blockquote>pour les serveurs</blockquote>
    <p>
      Node est un environnement qui permet de
      coder des programmes complets en
      <a href="#javascript">javascript</a>.<br/>
      Il permet notemment l'accès aux fichiers,
      accès interdit dans la version "browser".<br/>
      Le serveur derrière ce site est codé en Node.js
      et j'utilise cette technologie pour créer des sites web.
    </p>
    <a
    class="external"
    href="https://nodejs.org/">nodejs.org</a>

    <h3 id="electron" class="title">Electron</h3>
    <blockquote>pour les programmes complexes</blockquote>
    <p>
      Electron est un framework
      <a href="#node">Node.js</a>
      qui permet de créer rapidement et facilement
      des programmes bureau compatibles sur toutes les plateformes
      (Windows, Mac, Linux).<br/>
      Développé par l'équipe derrière <a href="#github">Github</a>,
      j'utilise cette technologie pour créer des
      <a href="/skills#programs">programmes complexes</a>
      avec une interface utilisateur soignée
    </p>
    <a
    class="external"
    href="https://www.electronjs.org/">www.electronjs.org</a>

    <h3 id="python" class="title">Python</h3>
    <blockquote>
      pour les programmes plus simples et les plugins cartographiques
    </blockquote>
    <p>
      Le langage informatique python est très prisé des scientifiques
      car il est facile à apprendre et permet rapidement de créer des
      petits programmes simples.<br>
      Je l'utilise soit pour faire des plugins Qgis
      (analyses spatiales et traitements cartographiques)
      soit pour faire des petits programmes rapides de traitement de
      feuilles excel par exemple.
    </p>
    <a
    class="external"
    href="https://www.python.org/">www.python.org</a>

  </article>
</section>
