<nav id="sidebar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
          <h3>
              🗺️ MENU
          </h3>

          <ul class="nav dotted">
              <li>
                <a href="/#top">Home/Main</a>
                <ul>
                  <li><a href="/#shortcuts">raccourcis</a></li>
                </ul>
              </li>
              <li>
                <a href="/about#top">About</a>
                <ul>
                  <li><a href="/about#quiSuisJe">qui suis je ?</a></li>
                  <li><a href="/about#technics">détails techniques</a></li>
                </ul>
              </li>
          </ul>
      </div>

  </div>
</nav>
