
<section id="top" class="img desk">
  <article class="white textCenter">
    <h1>Bien le bonjour !</h1>
  </article>

  <!--img
  src="images/photos/desk.jpg"
  alt="desk.jpg"
  class="left blurred white"-->

  <article class="white margin left">

    <h2>... et bienvenue chez moi</h2>

    <p>
      Vous êtes sur la
      <strong>
        page personnelle de
        <a href="/about#quiSuisJe">Guillaume Silvent</a>
      </strong>,<br/>
      programmeur hobbyiste ...<br/>
      ... et musicien a ses heures perdues
    </p>

  </article>
</section>

<section class="coloured green">
  <article class="textCenter">

    <h3>
      Vous avez envie de
      <a href="#">me recruter</a> ?,<br/>
      créer un
      <a href="#">site web</a> ?,<br/>
      développer un
      <a href="#">petit logiciel</a> ?
    </h3>
    <h2>
      n'hésitez pas à
      <a href="#"> me contacter</a> !
    </h2>
  </article>
</section>

<section id="minigames" class="white">
  <article class="">
    <h2>Mini-jeux</h2>
    <p>
      Voilà quelques petits exemples de ce que je peux faire
    </p>
  </article>
  <div class="flexRow">
    <article id="tictactoeSection">
      <h3>Un petit morpion ?</h3>

      <div id="tictactoe">
          <button id="ttt0.2">X</button>
          <button id="ttt1.2"></button>
          <button id="ttt2.2"></button>
          <button id="ttt0.1"></button>
          <button id="ttt1.1">O</button>
          <button id="ttt2.1"></button>
          <button id="ttt0.0"></button>
          <button id="ttt1.0"></button>
          <button id="ttt2.0">X</button>
          <pre id="tttMessages">hello</pre>
      </div>

    </article>
  </div>
</section>
