
<section>
  <article class="">

    <h1 id="top">Bien le bonjour !</h1>

    <h2>... et bienvenue chez moi</h2>

    <p>
      Vous êtes sur la page personnelle de
      <a href="#quiSuisJe">Guillaume Silvent</a>,<br/>
      programmeur hobbyiste ...<br/>
      ... et musicien a ses heures perdues
    </p>

  </article>
</section>

<section class="coloured green">
  <article class="textCenter">

    <h3>
      Vous avez envie de
      <a href="#">me recruter</a> ?,<br/>
      créer un
      <a href="#">site web</a> ?,<br/>
      développer un
      <a href="#">petit logiciel</a> ?
    </h3>
    <h2>
      n'hésitez pas à
      <a href="#"> me contacter</a> !
    </h2>
  </article>
</section>

<section>
  <article class="">

    <h1 id="quiSuisJe">Qui suis je ?</h1>
    <p>la réponse : quelqu'un qui fait son chemin !</p>
    <p>
      j'ai en effet un parcours ... atypique,<br/>
      d'abord technicien forestier,
      j'ai géré le cycle des forêts pendant près de 5 ans,
      puis ma maîtrise de la cartographie m'a permis de travailler
      dans les bureaux, d'abord chez EDF puis en fibre optique.
      Et c'est au cours de mes différents emplois que j'ai d'abord dû,
      puis pu m'intéresser à la programmation.
    </p>
  </article>
  <article class="textRight">
    <h3>Mon parcours de programmeur</h3>
    <p>
      J'ai appris a coder en
      <a href="#">python</a>,
      poussé par un responsable qui me disait
      "tu verras, t'es fait pour ça".
      Il n'avait pas tort.<br/>
      Je suis rapidement devenu capable de faire des
      <a href="#">petits programmes</a>
      de tri de feuilles Excel,
      de traitements spatiaux (dans Qgis, des plugins également)
      et de gestion simple de bases de données (Oracle et sqlite).
    </p>
    <p>
      Je me suis ensuite tourné vers HTML et le javascript,
      en suivant les cours que je pouvais sur le net,
      mais sans aboutir à grand chose
    </p>
    <p>
      L'étape suivante, c'est la formation
      <a href="#">The Hacking Project</a>
      qui m'a initié au langage Ruby et m'a surtout appris à :
    </p>
      <ul>
        <li>gérer correctement mes commits git</li>
        <li>organiser mes projets en suivant des frameworks</li>
        <li>essayer la TDD et l'écriture de tests en général</li>
      </ul>
    <p><em>
      Malheureusement mon groupe n'a pas pu rendre le projet final,
      je n'ai donc pas de magnifique site marchand codé en ruby à vous montrer.
    </em></p>
    <p>
      Enfin, je suis retourné plus fort que jamais au javascript,
      et je suis tombé amoureux de <a href="#">Node.js</a>.
      Depuis, en amateur, j'ai pu me faire la main sur un
      <a href="#">bot discord</a>,
      un début d'
      <a href="#">application Electron</a>
      et ce site web qui est mon premier essai serieux.
    </p>

  </article>
</section>
