<!DOCTYPE html>
<html lang="en">
  <% include ./_head %>

  <body>
    <% include ./_header %>
    <% include ./_navbar %>

    <div class="main container">
      <%- body %>

      <% include ./_footer %>
    </div>
  </body>

  <% include ./_scripts %>

</html>
