<!DOCTYPE html>
<html lang="en">
  <% include ./shared/_head %>

  <body>
    <div class="main container">

      <% include ./shared/_flashes %>
      <% include ./shared/_header %>
      <% include ./shared/_navbar %>

      <div class="content container">
        <%- body %>

        <% include ./shared/_footer %>
      </div>
    </div>
  </body>

  <% include ./shared/_scripts %>

</html>
