<!DOCTYPE html>
<html lang="en">
  <% include ./shared/_head %>

  <body>
    <% include ./shared/_flashes %>
    <% include ./shared/_header %>
    <% include ./shared/_navbar %>

    <div class="main container">
      <%- body %>

      <% include ./shared/_footer %>
    </div>
  </body>

  <% include ./scripts/_scripts %>

</html>
