<!DOCTYPE html>
<html lang="{{#if lang}}{{lang}}{{else}}fr{{/if}}">
  {{> layout/_head}}
  <body>
    <section class="app-container">
      <section class="page-container">
        {{{body}}}
      </section>
    </section>
  </body>
  {{> layout/_scripts}}
</html>
